<h3>Cryptocurrencies forecast based on 2015-2021 dataset<h3>

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook 
# enables interactive plotting in the Jupyter Notebook

Bitcoin

In [2]:
# import dataset
bitcoin_df = pd.read_csv(r"C:\Users\Zuzanna\Desktop\Nowy folder\projects\crypto_forecast\archive\Bitcoin\BTC-USD.csv")
bitcoin_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-09-13,235.242004,235.934998,229.332001,230.511993,230.511993,18478800.0
1,2015-09-14,230.608994,232.440002,227.960999,230.643997,230.643997,20997800.0
2,2015-09-15,230.492004,259.182007,229.822006,230.304001,230.304001,19177800.0
3,2015-09-16,230.250000,231.214996,227.401993,229.091003,229.091003,20144200.0
4,2015-09-17,229.076004,230.285004,228.925995,229.809998,229.809998,18935400.0

In [3]:
# get info about NA values
bitcoin_df.info()
bitcoin_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2193 entries, 0 to 2192
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2193 non-null   object
 1   Open       2189 non-null   float64
 2   High       2189 non-null   float64
 3   Low        2189 non-null   float64
 4   Close      2189 non-null   float64
 5   Adj Close  2189 non-null   float64
 6   Volume     2189 non-null   float64
dtypes: float64(6), object(1)
memory usage: 120.1+ KB

Date         0
Open         4
High         4
Low          4
Close        4
Adj Close    4
Volume       4
dtype: int64

In [4]:
# filling missing data
bitcoin_df.fillna(method='ffill', inplace=True)

In [5]:
# checking NA values again
bitcoin_df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
# checking for duplicates
bitcoin_df.duplicated().sum()

0

In [8]:
# rename columns
bitcoin_df.rename(columns = 
    {"Date":"date",
    "Open":"open",
    "High":"high",
    "Low":"low",
    "Close":"close",
    "Adj Close":"adj_close",
    "Volume":"volume"
}, inplace=True
                 )
bitcoin_df.head()

,date,open,high,low,close,adj_close,volume
0,2015-09-13,235.242004,235.934998,229.332001,230.511993,230.511993,18478800.0
1,2015-09-14,230.608994,232.440002,227.960999,230.643997,230.643997,20997800.0
2,2015-09-15,230.492004,259.182007,229.822006,230.304001,230.304001,19177800.0
3,2015-09-16,230.250000,231.214996,227.401993,229.091003,229.091003,20144200.0
4,2015-09-17,229.076004,230.285004,228.925995,229.809998,229.809998,18935400.0

In [11]:
# change data format
bitcoin_df['date'] = pd.to_datetime(bitcoin_df.date)

Ethereum

In [ ]:
ethereum_df = pd.read_csv(r"C:\Users\Zuzanna\Desktop\Nowy folder\projects\crypto_forecast\archive\Ethereum\ETH-USD.csv")
ethereum_df.head()
ethereum_df.info()
ethereum_df.isna().sum()

In [ ]:
ethereum_df.fillna(method='ffill', inplace=True)
ethereum_df.isna().sum()
ethereum_df.duplicated().sum()

In [ ]:
ethereum_df.rename(columns = 
    {"Date":"date",
    "Open":"open",
    "High":"high",
    "Low":"low",
    "Close":"close",
    "Adj Close":"adj_close",
    "Volume":"volume"
}, inplace=True
                 )
ethereum_df.head()

In [ ]:
ethereum_df['date'] = pd.to_datetime(ethereum_df.date)

Cardano

In [ ]:
cardano_df = pd.read_csv(r"C:\Users\Zuzanna\Desktop\Nowy folder\projects\crypto_forecast\archive\Cardano\ADA-USD.csv")
cardano_df.head()
cardano_df.info()
cardano_df.isna().sum()

In [ ]:
cardano_df.fillna(method='ffill', inplace=True)
cardano_df.isna().sum()
cardano_df.duplicated().sum()

In [ ]:
cardano_df.rename(columns = 
    {"Date":"date",
    "Open":"open",
    "High":"high",
    "Low":"low",
    "Close":"close",
    "Adj Close":"adj_close",
    "Volume":"volume"
}, inplace=True
                 )
cardano_df.head()

In [ ]:
cardano_df['date'] = pd.to_datetime(cardano_df.date)

Dogecoin

In [ ]:
dogecoin_df = pd.read_csv(r"C:\Users\Zuzanna\Desktop\Nowy folder\projects\crypto_forecast\archive\Dogecoin\DOGE-USD.csv")
dogecoin_df.head()
dogecoin_df.info()
dogecoin_df.isna().sum()

In [ ]:
dogecoin_df.fillna(method='ffill', inplace=True)
dogecoin_df.isna().sum()
dogecoin_df.duplicated().sum()

In [ ]:
dogecoin_df.rename(columns = 
    {"Date":"date",
    "Open":"open",
    "High":"high",
    "Low":"low",
    "Close":"close",
    "Adj Close":"adj_close",
    "Volume":"volume"
}, inplace=True
                 )
dogecoin_df.head()

In [ ]:
dogecoin_df['date'] = pd.to_datetime(dogecoin_df.date)

<h3>Plots and visualization<h3>